<div class="content-body">
  <div class="container-fluid">
    <div class="d-flex align-items-center mb-4 flex-wrap">
        <h4 class="fs-20 font-w600  me-auto"></h4>
        <div>
        <a href="/admin/add-user"  class="btn btn-primary me-3 btn-sm"><i class="fas fa-plus me-2"></i>Add New User</a>
        <a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"> <i class="fas fa-envelope"></i></a>
        <a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3"><i class="fas fa-phone-alt"></i></a>
        <a href="javascript:void(0);" class="btn btn-secondary btn-sm"><i class="fas fa-info"></i></a>
        
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Users</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example3" class="display" style="min-width: 845px">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Gender</th>
                    <th>Education</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Joining Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each list}}
                
                   <tr>
                    <td><img
                        class="rounded-circle"
                        width="35"
                        src="/images/profile/small/pic1.jpg"
                        alt=""
                      /></td>
                    <td>{{this.name}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>M.COM., P.H.D.</td>
                    <td><a href="javascript:void(0);"><strong>123 456 7890</strong></a></td>
                    <td><a href="javascript:void(0);"><strong
                        >info@example.com</strong></a></td>
                    <td>2011/04/25</td>
                    <td>
                      <div class="d-flex">
                        <a
                          href="#"
                          class="btn btn-primary shadow btn-xs sharp me-1"
                        ><i class="fas fa-pencil-alt"></i></a>
                        <a
                          href="#"
                          class="btn btn-danger shadow btn-xs sharp"
                        ><i class="fa fa-trash"></i></a>
                      </div>
                    </td>
                  </tr>
                 {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>